#hoppingtext{
    display: flex;
    top: 10%;
    color: green;
    font-size:75px;
    margin: 0;
    padding: 0;
    font-family: consolas;
    align-items: center;
    justify-content: center;
    position:absolute;
    left:10%;
    margin-top: 5%;
}

.hop{
    position: relative;
    -webkit-box-reflect:below -12px linear-gradient(transparent, rgba(0,0,0,0.2));
    /* above line give it the watery reflection effect. very nice */
}

.hop span{
    position:relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-transform: lowercase;
    animation: animate 1s ease-in-out infinite;
}
@keyframes animate {
    0%{transform: translateY(0px);}
    20%{transform: translateY(-20px);}
    /* you dont need any more for a simple hop */
}
 /* wavy hopping text */

 #wavytext{
    display: flex;
    top: 10%;
    font-size:75px;
    margin: 0;
    padding: 0;
    font-family: consolas;
    align-items: center;
    justify-content: center;
    position:absolute;
    right:0;
    margin-right: 45%;
    margin-top: 19%;
}

.wavy{
    position: relative;
    -webkit-box-reflect:below -12px linear-gradient(transparent, rgba(0,0,0,0.2));
    /* above line give it the watery reflection effect. very nice but dont use in production */
}

.wavy span{
    position:relative;
    display: inline-block;
    color: var(--color);
    text-transform: lowercase;
    animation: animateWave 1s ease-in-out;
    animation-iteration-count: 1;
    animation-delay: calc(0.1s * var(--jump));
}
@keyframes animateWave {
    0%{transform: translateY(0px);}
    20%{transform: translateY(-20px);}
    40%, 100%{transform: translateY(0px);}
}

/* /dont use inline CSS... */
#wavytext > div > span:nth-child(1){
    --jump:0;
    --color: black;
}
#wavytext > div > span:nth-child(2){
    --jump:1;
    --color: purple;
}
#wavytext > div > span:nth-child(3){
    --jump:2;
    --color: rgb(163, 163, 108);
}
#wavytext > div > span:nth-child(4){
    --jump:3;
    --color: rgb(27, 142, 146);
}
#wavytext > div > span:nth-child(5){
    --jump:4;
    --color: rgb(146, 11, 11);
}
#wavytext > div > span:nth-child(6){
    --jump:5;
    --color: rgb(56, 21, 211);
}
#wavytext > div > span:nth-child(7){
    --jump:6;
    --color: rgb(63, 10, 73);
}
#wavytext > div > span:nth-child(8){
    --jump: 7.5;
    --color: rgb(27, 122, 51);
}
#wavytext > div > span:nth-child(9){
    --jump:9;
    --color: rgb(143, 94, 206);
}


.rotate{
    background-color: blue;
    animation: rotate 10s linear infinite; 
  }

  .rotate:before{
      content: "what!?!?";
      color: yellow;
  }
  @keyframes rotate{
    from{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
    to{transform: rotateX(360deg) rotateY(1800deg) rotateZ(360deg);}
    /* to{ transform: rotate(360deg); }   */
    /*lower one makes it go on one axis, X or Y...*/
}
  
    .spinner{
      margin-left: 2%;/*(me....)*/
    display:inline-block; width: 50px; height: 50px;
    border-radius: 50%; 
    box-shadow: inset -2px 0 0 2px whitesmoke; 
  }

  #welcomeImage{
      border: 4px solid green;
      position: absolute;
    background-image: url(../Images/tanFlannel.jpg);
            background-repeat: repeat;
            /* no repeat will limit the text length */
            background-clip: none;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            top: 20%;
            left:5%;
            font-size: 125px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Steelfish Rg', 'helvetica neue',
                     helvetica, arial, sans-serif;
            font-weight: 800;
            -webkit-font-smoothing: antialiased;
  }

  /* text rotating around an invisible 3D object */
  #Text3DArea{
    color: #fff;
    min-height: 70vh;
    display: grid;
    place-items: center;
    perspective: 500px;
}

.TextBanner{
display: flex;
}

.TextPanel{
position: relative;
width: 25px;
height: 120px;
overflow: hidden;
animation: rotate3DText 6s ease-in-out;
animation-iteration-count: 2; 
color: hsl(var(--hue), 75%, 75%);
}
    

@keyframes rotate3DText {
    from{ transform: rotateX(0deg);}
    to{ transform: rotateY(360deg);}
} /*opened and closed blinds*/


.TextPanel:nth-child(1) {
    --left: 0px;
    --hue: 0;
    }
    
    .TextPanel:nth-child(2) {
    --left: -25px;
    --hue: 15;
    }
    
    .TextPanel:nth-child(3){
    --left: -50px;
    --hue: 30;
    }
    
    .TextPanel:nth-child(4){
    --left: -75px;
    --hue: 45;
    }
    
    .TextPanel:nth-child(5){
    --left: -100px;
    --hue: 60;
    }
    
    .TextPanel:nth-child(6) {
    --left: -125px;
    --hue: 75;
    }
    
    .TextPanel:nth-child(7){
    --left: -150px;
    --hue: 90;
    }
    
    .TextPanel:nth-child(8){
    --left: -175px;
    --hue: 105;
    }
    
    .TextPanel:nth-child(9){
    --left: -200px;
    --hue: 120;
    }
    
    .TextPanel:nth-child(10) {
    --left: -225px;
    --hue: 135;
    }
    
    .TextPanel:nth-child(11){
    --left: -250px;
    --hue: 150;
    }
    
    .TextPanel:nth-child(12){
    --left: -275px;
    --hue: 165;
    }
    
    .TextPanel:nth-child(13){
    --left: -300px;
    --hue: 180;
    }
    
    .TextPanel:nth-child(14) {
    --left: -325px;
    --hue: 195;
    }
    
    .TextPanel:nth-child(15){
    --left: -350px;
    --hue: 210;
    }
    
    .TextPanel:nth-child(16){
    --left: -375px;
    --hue: 225;
    }
    
    .TextPanel:nth-child(17){
    --left: -400px;
    --hue: 240;
    }
    
    .TextPanel:nth-child(18) {
    --left: -425px;
    --hue: 155;
    }
    .TextPanel:nth-child(19) {
    --left: -450px;
    --hue: 270;
    }
        .TextPanel:nth-child(20) {
    --left: -475px;
    --hue: 285;
    }
    .TextPanel:nth-child(21) {
    --left: -500px;
    --hue: 300;
    }
    .TextPanel:nth-child(22) {
    --left: -525px;
    --hue: 315;
    }
    .TextPanel:nth-child(23) {
    --left: -550px;
    --hue: 330;
    }
    .TextPanel:nth-child(24) {
    --left: -575px;
    --hue: 345;
    }
    .TextPanel:nth-child(25) {
    --left: -600px;
    --hue: 360;
    }
    
    .TextPanel:hover{
    transform: scale(1.2);
    }
    
    .TextPanel::before{
    position: absolute;
    left: var(--left);
    content: "𝙲𝚂𝚂 𝚂𝚝𝚢𝚕𝚒𝚗𝚐";
    font-size: 96px;
    width: max-content;
    }
