#root{
    margin-top: 2%;
    background-color: blue;
    border:2em red outset;
    height: 500px;
}

body{
    background-color: yellow;
}

#box{
    background: transparent;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: myAnimation;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards; /*stops loop without a reset*/
    /*...IF you dont start and stop in the same place/shape*/
}

@keyframes myAnimation {
    0%{background-color: blue; left: 0px; top: 0px; border-radius: 0 0 0 0;}
    1%{background-color: blue; left: 0px; top: 0px; border-radius: 50% 0 0 0;}
    2%{background-color: blue; left: 0px; top: 0px; border-radius: 50% 0 0 0;}
    3%{background-color: blue; left: 0px; top: 0px; border-radius: 50%  0 0 0;}
    4%{background-color: blue; left: 0px; top: 0px; border-radius: 50%  0 0 0;}

    25%{background-color: transparent; left: 50px; top: 0px; border-radius: 0 0 0 0;}
    50%{background-color: purple; left: 50px; top: 50px; border-radius: 50%  50% 50% 50%;}
    75%{background-color: transparent; left: 0px; top: 50px; border-radius: 50% 50% 50% 50%;}
    96%{background-color: blue; left: 0px; top: 0px; border-radius: 50%  50% 50% 50%;}
    97%{background-color: blue; left: 0px; top: 0px; border-radius: 50%  0 50% 0;}
    98%{background-color: blue; left: 0px; top: 0px; border-radius: 50% 0 50% 0;}
    99%{background-color: blue; left: 0px; top: 0px; border-radius: 50% 0 50% 0;}
    100%{background-color: blue; left: 0px; top: 0px; border-radius: 50% 0 50% 0;}
}

#box::before{
    content: "Animations!";
    font-size: 75px;
}

#box:hover{
    transform: (1.4);
    animation-play-state: paused;
    background: rgb(19,77,209);
    background: radial-gradient(circle, rgba(19,77,209,1) 26%, rgba(255,23,23,1) 59%, rgba(247,169,59,1) 90%);
    color: darkred;
}

#navbar {
    /* height: 100%; 100% Full-height */
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    color: #111; 
    padding-top: 90px; 
}

button{
    height:75px;
    width: 75px;
    border-radius: 75px;
    font-size: 36px;
    padding: 3rem;
    margin-bottom: 5%;
    color: yellow;
    background-color: lightgreen;
}

button:hover {
    color: darkgoldenrod;
  }

  #transitions{
      width: 400px;
      height: 400px;
      font-size: 24px;
      color: darkslategrey;
    background-color: rgb(228, 95, 95);
    position: relative;
    margin: auto;
    margin-top: 3%;
    transition-property: background, border-radius; /*now it will fade into the onHove color*/
    transition-duration: 3s, 6s;
  }

  #transitions:hover{
    background-color: red;
    border-radius: 15%;
  }

  #transitions:hover:after{  /*notice the event you want to do something "AFTER"*/
    content: " Shading...";
    color: rgb(228, 95, 95);
    text-decoration: underline;
    font-size: 75px;
    position: relative;
    opacity: 1;
    top: 20px;
    -webkit-transition: all 3s;
    transition: all 3s;
}

#rotate{
    visibility: visible;
    height:75px;
    width: 75px;
    border-radius: 75px;
    font-size: 36px;
    padding: 3rem;
    margin-bottom: 5%;
    margin-left: 1%;
    color: whitesmoke;
    background-color: orangered;
    top: 15%;
    position:absolute;
}


